@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

header {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-nav li {
    margin-left: 10px;
    display: inline;
}

.navbar-nav li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-nav li a:hover {
    background-color: #111;
    color: white;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
} */

.edit-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.edit-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
